.calc-container {
    background-color: rgba(255, 255, 255, 0.1);
    opacity: 1;
    width: 95%;
    max-width: 600px;
    margin: 0 auto;
    padding: 15px;
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, 0.296);
    box-shadow: 2px 2px 10px #000;
}

.logo {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 10px;
    height: 50px;
    max-width: 560px;
    border-radius: 10px;
}

.logo img {
    max-width: 30px;
    max-height: 30px;
    width: auto;
    height: auto;
}

.description {
    margin-bottom: 35px;
    text-align: center;
}

.description h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 28px;
    color: #fff;
}

.description p {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #fff;
    opacity: 0.6;
}

.sep-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 5px 30px;
}

#num-selector {
    cursor: pointer;
    display: block;
    width: 40%;
    height: 30px;
    border: 10px;
    padding: 0 20px;
    font-size: 20px;
    border: .5px solid black;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.475);
    color: black;
    transition: 0.2s;
}

#num-selector:hover {
    border: 1px solid black
}

#player-names {
    overflow-y: scroll;
    resize: none;
    display: block;
    width: 90%;
    margin: 0 auto;
    padding: 6px 10px;
    height: 240px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 100px;
    border: 2px solid rgba(255, 255, 255, 0.499);
    background-color: rgba(255, 255, 255, 0.71);
}

/* Botão de sorteio */
.submit-button {
    font-family: "montserrat", sans-serif;
    display: block;
    margin: 20px auto;
    width: 90%;
    padding: 15px;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    color: #000;
    background-color: rgba(7, 202, 150, 0.564);
    border: 1px solid rgba(255, 255, 255, 0.35);
    font-weight: 700;
    transition: 0.3s;
}

.submit-button:hover {
    color: white;
    background-color: rgba(0, 79, 85, 0.333);
}

/* Div de resultadoss */
.groups {
    margin-top: 30px;
}

.group {
    background-color: #e8f5e9;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.group h3 {
    margin-top: 0;
    color: #000;
}

/* Botão whatsapp */
#wpp {
    margin: 15px;
    display: flex;
    justify-content: center;
}

#wpp button {
    background-color: #25d366;
    border: none;
    border-radius: 50%;
    padding: 12px;
    cursor: pointer;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.2 ease, background-color 0.2 ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

#wpp button svg {
    fill: white;
}

#wpp button:hover {
    background-color: #1ebe5d;
    transform: scale(1.1);
}

.contador {
    bottom: 6px;
    right: 10px;
    font-size: 12px;
    color: #ffffff;
    pointer-events: none; /* para não interferir na digitação */
    border-radius: 4px;
    padding: 0 30px;
  }

@media (max-width: 480px) {
    .logo {
        font-size: 15px;
    }

    #num-selector {
        width: 70%;
        margin: 10px 0;
    }

    .contador {
        padding: 0 20px;
    }
}