.header-logo-nav {
    display: none;
    width: 100%;
    margin-bottom: -100px;
    background: linear-gradient(180deg, #FFFFFF00 90%, #44ff008a 100%);
    opacity: 0.9;
    position: absolute;
    z-index: 10;
    background-color: black;
    height: 100px;
    color: #fff;
}

.logo-nav {
    z-index: 1000;
    padding: 2rem 5rem;
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
}

.nav-container {
    padding-top: 1.5rem;
}

.nav-container a{
    color: #fff;
    letter-spacing: 0.1px;
    margin: 0 15px;
}

.nav-container nav{
    display: flex;
}

.nav-container a:hover {
    color: #00ff00fe;
}

.logo-content {
    margin: 0 auto;
}

