@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #15aae4;
    --primary-green-color: #8f9e6f;
    --secondary-green-color: #b1cf72;
    --primary-grey-color: #6b6b6b;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 65.2%;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: var(--secondary-green-color);
}

.container {
    background: var(--primary-grey-color);
    max-width: 72rem;
    margin: 50px auto;
    padding: 40px;
    line-height: 1.2rem;
    border-radius: 10px;
}